.mn_individual_block
{
	
}
#mn_settings_form
{
	margin: 20px 0px 0px 20px;
}
#mn_settings_form legend
{
	font-size: 1.4em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	color: #6A21FF;
	font-weight: bold;
}
.mn_individual_block label
{
	  vertical-align: top;
	  font-weight: bold;
}

#mn_settings_form .wp-picker-holder
{
	position: absolute !important;
	z-index: 9999;
}
#mn_submit_form
{
  width: 250px;
  margin-top: 20px;
  font-weight: bold;
  background: #1630E2;
  color: #fff;
  font-size: 1.5em;
}
#mn_message
{
	font-size: 1.3em;
	color: #f00;
	margin-top: 10px;
	text-align: center;
}
.depends_on_mn_display_bar_option
{
	display: none;
}